.App {
  text-align: center;
}
li{
  list-style-type: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ml-20{
  margin-left: 20px; 
}

.MuiAccordionSummary-expandIcon	{
  float: left;
}